@charset "utf-8";

/* Main Visual */

  #mainVisual{
    margin-top: 8rem;
    padding-top: 5rem;
  }

  #mainVisual #visualSlide{
    display: flex;
  }

  #mainVisual #visualSlide .slide_item{
    height: 70vw;
    margin: 0 0.9rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50vw;
    font-size: 5vw;
    font-weight: 400;
    color: var(--white);
  }

  #mainVisual #visualSlide .slide_item:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50vw;
    background-color: rgba(0,0,0,.3);
  }

  #mainVisual #visualSlide .slide_item .img_tit{
    position: relative;
    text-align: center;
    line-height: 1.5;
    z-index: 1;
  }

  #mainVisual #visualSlide .slide_item.kb{background-image: url(../img/img_main_visualSlide_kb.jpg);}
  #mainVisual #visualSlide .slide_item.cy{background-image: url(../img/img_main_visualSlide_cy.jpg);}
  #mainVisual #visualSlide .slide_item.jb{background-image: url(../img/img_main_visualSlide_jb.jpg);}
  #mainVisual #visualSlide .slide_item.ic{background-image: url(../img/img_main_visualSlide_ic.jpg);}
  #mainVisual #visualSlide .slide_item.bs{background-image: url(../img/img_main_visualSlide_bs.jpg);}
  #mainVisual #visualSlide .slide_item.jj{background-image: url(../img/img_main_visualSlide_jj.jpg);}

  .slick-dots{
    bottom: -2.6rem;
  }

  .slick-dots li{
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
  }

  .slick-dots li:last-child{
    margin-right: 0;
  }

  .slick-dots li button{
    width: 6px;
    height: 6px;
    padding: 0;
    background-color: var(--gray100);
    border-radius: 50%;
  }

  .slick-dots li.slick-active button{
    background-color: var(--primary-pink);
  }

  .slick-dots li button:before{
    content: none;
  }

  #mainVisual .slide_desc{
    margin-top: 7rem;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
  }

  #mainVisual .section_tit{
    margin-top: 2rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
  }


  @media screen and (min-width: 768px) {

    #mainVisual #visualSlide .slide_item{
      height: 53.8rem;
    }

    #mainVisual #visualSlide .slide_item:hover{
      cursor: grab;
    }

    #mainVisual #visualSlide .slide_item:active{
      cursor: grabbing;
    }

    #mainVisual #visualSlide .slide_item .img_tit{
      font-size: 3.84rem;
    }
  }


/* Region Product */

  #regionPrd #regionPrdSlide{
    margin-top: 2.6rem;
  }

  #regionPrd #regionPrdSlide .slick-track{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  #regionPrd #regionPrdSlide .slide_item{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  #regionPrd #regionPrdSlide .slide_item .img_box{
    height: calc(31.25vw - 1.6rem);
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  #regionPrd #regionPrdSlide .img_box.jj{background-image: url(../img/img_main_visualSlide_jj.jpg);}
  #regionPrd #regionPrdSlide .img_box.ic{background-image: url(../img/img_main_visualSlide_ic.jpg);}
  #regionPrd #regionPrdSlide .img_box.jb{background-image: url(../img/img_main_visualSlide_jb.jpg);}
  #regionPrd #regionPrdSlide .img_box.bs{background-image: url(../img/img_main_visualSlide_bs.jpg);}
  #regionPrd #regionPrdSlide .img_box.kb{background-image: url(../img/img_main_visualSlide_kb.jpg);}
  #regionPrd #regionPrdSlide .img_box.cy{background-image: url(../img/img_main_visualSlide_cy.jpg);}
 

  #regionPrd #regionPrdSlide .slide_item .img_tit{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
  }

  @media screen and (min-width: 768px) {
    #regionPrd #regionPrdSlide .slide_item .img_box{
      height: 22.4rem;
    }
  }



/* Product Ranking */

  #prdRanking{
    background-color: var(--gray6);
  }

  #prdRanking .section_tit{
    text-align: center;
  }

  #prdRanking .tab_menu{
    margin-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #prdRanking .tab_menu li{
    padding: 1rem 1.2rem;
    background-color: var(--gray5);
    border-radius: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--gray700);
    cursor: pointer;
  }

  #prdRanking .tab_menu li.active{
    background-color: var(--primary-pink);
    color: var(--white);
  }

  #prdRanking .rank_container{
    margin-top: 2.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--white);
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
  }

  
  @media screen and (min-width: 768px) {

    .tab_menu{
      justify-content: center;
      gap: 3.2rem;
    }

    #prdRanking .rank_container{
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      flex-wrap: wrap;
    }

    #prdRanking .rank_container .rank_item{
      width: 50%;
      padding-left: 1rem;
      padding-right: 1rem;
      border: none;
    }
  }
  

  #recommendPrd .recommend_container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  #recommendPrd .recommend_container .recommend_item{
    width: calc(50% - 8px);
  }

  #recommendPrd .recommend_container .recommend_item .img_box{
    width: 100%;
    padding-top: 100%;
    border-radius: 1.6rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #recommendPrd .recommend_container .recommend_item .tag_container{
    margin-top: 0.8rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  #recommendPrd .recommend_container .recommend_item .tag_container .tag{
    margin-left: 0.4rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--gray6);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-pink);
  }
  #recommendPrd .recommend_container .recommend_item .tag_container .tag:first-child{
    margin-left: 0;
  }

  #recommendPrd .recommend_container .recommend_item .tit_container{
    height: 4.6rem;
    margin-top: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  #recommendPrd .recommend_container .recommend_item .tit_container .region{
    margin-right: 0.2rem;
  }

  #recommendPrd .recommend_container .recommend_item .price_container{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  #recommendPrd .recommend_container .recommend_item .price_container .rate{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-pink);
  }

  #recommendPrd .recommend_container .recommend_item .price_container .rate:after{
    content: '%';
    font-size: 1.6rem;
  }

  #recommendPrd .recommend_container .recommend_item .price_container .rate.null:after{
    content: none;
  }

  #recommendPrd .recommend_container .recommend_item .price_container .price_box{
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
  
  #recommendPrd .recommend_container .recommend_item .price_container .price_box .price_before{
    font-size: 1.2rem;
    color: var(--gray300);
    text-decoration: line-through;
  }
  
  #recommendPrd .recommend_container .recommend_item .price_container .price_box .price{
    font-size: 2rem;
    font-weight: bold;
  }

  #recommendPrd .recommend_container .recommend_item .price_container .price_box .price:after{
    content: '원';
    font-size: 1.6rem;
    font-weight: normal;
  }

  #recommendPrd .recommend_container .recommend_item .price_container .price_box .price.null:after{
    content: none;
  }

  @media screen and (min-width: 768px) {

    #recommendPrd .recommend_container{
      gap: 0;
    }

    #recommendPrd .recommend_container .recommend_item{
      width: 32%;
      margin-right: 2%;
      margin-bottom: 2%;
    }

    #recommendPrd .recommend_container .recommend_item:nth-child(3n){
      margin-right: 0;
    }

  }

  
  #monthlyPrd{
    background-color: #fff;
  }

  #monthlyPrd .banner_container{
    margin-top: 2rem;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2.4rem;
  }
  
  #monthlyPrd #monthlyPrdSlide .slick-list{
    border-radius: 2.4rem 2.4rem 0 0;
    
  }
  
  #monthlyPrd #monthlyPrdSlide .slide_item{
    height: 94vw;
    position: relative;
    
    background: url(../img/img_banner_01.jpg) center center / cover no-repeat;
  }


  #monthlyPrd #monthlyPrdSlide .slide_item .banner_tit{
    padding: 3rem 0 0 3rem;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--white);
  }

  #monthlyPrd #monthlyPrdSlide .slide_item .banner_sub_tit{
    padding: 0.5rem 0 0 3rem;
    font-size: 1.6em;
    color: var(--white);
  }

  #monthlyPrd .monthly_container{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #monthlyPrd .monthly_container .monthly_item{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed var(--gray5);
  }
  

